@charset "UTF-8";

table {
	border-collapse: collapse;
}

table img {
	vertical-align: middle;
}

table.documents {
	width: 100%;
}

td, th {
	padding: .5em 2em .5em .5em;
}

td {
	vertical-align: middle;
}

.title {
	cursor: help;
}

.reference th {
	font-weight: normal;
}

.controls {
	margin-top: 2em;
}

.typo3-messages {
	margin-bottom: 2em;
}

.checkbox {
	width: 32px;
}

.center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

.language {
	text-align: center;
}

.abstract {
	
}

.actions {
	text-align: right;
}

table button {
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
}